<%- layout('layout/boilerplate') -%>
<h2>Add New Post</h2>
<body>
    <form action="/blogs" method="POST" enctype="multipart/form-data" class="needs-validation" novalidate >
        <div class="row g-3">
      <div class="col-md-6 ">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title" required>
        <div class="valid-feedback">
            Good
        </div>
      </div>
        <div class="col-md-6">
        <label class="form-label" for="author">Author</label>
        <input class="form-control" type="text" name="author" required>
        <div class="valid-feedback">
            Good
        </div>
        </div>
    </div>
      
        
        <div class="row g-3">
          <!--   <div class="col-md-4">
                <label class="form-label" for="image">Image url</label>
                <input class="form-control" type="text" name="image" required>
                <div class="valid-feedback">
                    Good
                </div>
            </div> -->
            <div class="col-md-6">
                
                <label class=" form-label text-dark-medium" for='image'>Upload Image <span style="color: red;">(image must be between 100Kb - 200Kb)</span></label> 
                <input type="file" class="form-control form-file " name="image" accept=".jpg, .png" onchange="Filevalidation()" required/> 
                <p id="size" style="color: brown;"></p>
                <div class="invalid-feedback">
                    File must be selected
                  </div>
            </div>
            <div class="col-md-6">
                <label class="form-label" for="tags">Tags</label>
                <input class="form-control" type="text" name="tags" required>
                <div class="valid-feedback">
                    Good
            </div>
            </div>
        </div>
    <div class="row mb-4">
        <div class="col-md-12">
            <label class="form-label" for="content">Content</label>
            <textarea class="form-control" class="" name="content" id="" cols="700" rows="10" required></textarea>
            <div class="valid-feedback">
                Good
            </div>
        </div>
      
    </div>
        <div class="col-12 mb-2">
            <button type="reset" class="btn btn-danger">Reset</button>
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
    <a href="/blogs">View all blogs</a>
</body>
<script>
    //function for image upload validation in the add new post page
    Filevalidation = () => { 
                    const fi = document.getElementById('file'); 
                    if (fi.files.length > 0) { 
                    for (const i = 0; i <= fi.files.length - 1; i++) { 
                        const fsize = fi.files.item(i).size; 
                        const file = Math.round((fsize / 1024)); 
                        // The size of the file. 
                        if (file >= 200 ) { 
                            document.getElementById('size').innerHTML =  'File too Big, please select a file less than 200kb with the correct extention jpeg/jpg/png'; 
                        document.getElementById('file').value = null;
                        } 
                    else if (file < 100) { 
                        document.getElementById('size').innerHTML =  "File too small, please select a file greater than  100kb  with the correct extention jpeg/jpg/png"; 
                        document.getElementById('file').value = null;
                    } 
                    else { 
                        document.getElementById('size').innerHTML = '<b>'
                        + file + '</b> KB'; 
                    } 
                    } 
                    } 
                    
                    }

</script>